LLDAP_LDAP_BASE_DN=dc=regularlab,dc=xyz

# Generate with: openssl rand -base64 32
LLDAP_JWT_SECRET=changeme

# Admin credentials for the web UI
LLDAP_LDAP_USER_PASS=changeme
LLDAP_LDAP_USER_EMAIL=admin@regularlab.xyz
