[Unit]
Description=lldap - Lightweight LDAP Server
After=network-online.target
Wants=network-online.target

[Container]
Image=lldap/lldap:stable
PublishPort=100.71.172.113:3890:3890
PublishPort=100.71.172.113:17170:17170
Volume=/mnt/appdata/lldap:/data
EnvironmentFile=/home/navi/repos/home-lab/podman/lldap/.env

[Service]
Restart=on-failure

[Install]
WantedBy=default.target
