ADMIN_USER=admin
ADMIN_PASSWORD=changeme
SITE_URL=https://photoprism.regularlab.xyz

PHOTOS_PATH=/path/to/your/photos

# Fill these in after creating the OIDC app in Authentik
OIDC_URI=https://authentik.regularlab.xyz/application/o/photoprism/
OIDC_CLIENT=
OIDC_SECRET=
